{{#each patient.records as |record| }}
    <a href="/api/records/edit/{{record.id}}" class="userPatientsContainer row text-nowrap col-12 " aria-current="true">
        
            <div class="rowC col-1 row">
                <h4>Record ID:</h4>
                <h4> {{record.id}}</h4>
            </div>

            <div class="rowC col-2 row">
                <h4>Created On:</h4>
                <h4> {{format_date record.created_at}}</h4>
            </div>

            <div class="rowC col-1 row">
                <h4>Doctor ID:</h4>
                <h4> {{record.user_id}}</h4>
            </div>

            <div class="rowC col-2 row">
                <h4> Doctor Name:</h4>
                <h4> {{record.user_username}}</h4>
            </div>

            <div class="rowC col-2 row">
                <h4>Patient ID:</h4>
                <h4> {{record.patient_id}}</h4>
            </div>

            <div class="rowC col-2 row">
                <h4>Patient Name:</h4>
                <h4> {{record.patient_name}}</h4>
            </div>
        
            <div class="rowC col-2 row">
                <h4> Record Subject:</h4>
                <h4> {{record.title}}</h4>
            </div>
       
    </a>
{{/each}}


