<div class="userPatientsHeader row text-nowrap col-12 " aria-current="true">
    <div class="text-center col-1">
        <h5>Record ID</h5>
    </div>
    <div class=" text-center col-1">
        <h5>Created On</h4>
    </div>
    <div class=" text-center col-1">
        <h5>Doctor ID</h4>
    </div>
    <div class="text-center col-1">
        <h5> Doctor Name</h4>
    </div>
    <div class=" text-center col-1">
        <h5>Patient ID</h4>
    </div>
    <div class=" text-center col-1">
        <h5>Patient Name</h5>
    </div>
    <div class="text-center col-1">
        <h5> Record Title</h5>
    </div>
    <div class=" rowC text-center col-3">
        <h5> Record Text Preview</h5>
    </div>
</div>

{{#each patient.records as |record| }}
    <a href="/api/records/edit/{{record.id}}" class="userPatientsContainer row text-nowrap col-12 " aria-current="true">
        <div class="  text-center col-1">
            <h5> {{record.id}}</h5>
        </div>
        <div class=" text-center col-1">
            <h5> {{format_date record.created_at}}</h5>
        </div>
        <div class=" text-center col-1">
            <h5> {{record.user_id}}</h5>
        </div>
        <div class=" text-center col-1">
            <h5> {{record.user_name}}</h5>
        </div>
        <div class=" text-center  col-1">
            <h5> {{record.patient_id}}</h5>
        </div>
        <div class="text-center col-1">
            <h5> {{record.patient_name}}</h5>
        </div>
        <div class=" text-center col-1">
            <h5> {{record.title}}</h5>
        </div>
        <div class="rowC text-center col-3">
            <h5> {{record.text}}</h5>
        </div>
    </a>
{{/each}}


