{{#each user.records as |record| }}
    <a href="/api/records/edit/{{record.id}}" class="userPatientsContainer row text-nowrap col-12 " aria-current="true">
        <div class="rowC container row">
            <h5>Record ID: {{record.id}}</h5>
        </div>
        <div class="rowC container row">
            <h5>Created On: {{format_date record.created_at}}</h5>
        </div>
        <div class="rowC container row">
            <h5>Doctor ID: {{record.user_id}}</h5>
        </div>
        <div class="rowC container row">
            <h5> Doctor Name: {{record.user_username}}</h5>
        </div>
        <div class="rowC container row">
            <h5>Patient ID: {{record.patient_id}}</h5>
        </div>
        <div class="rowC container row patient-name">
            <h5>Patient Name: {{record.patient_name}}</h5>
        </div>
        <div class="rowC container row record-subject">
            <h5> Record Subject: {{record.title}}</h5>
        </div>
    </a>
{{/each}}



