<div class="container containerC">

	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 ">
		<div class="card h-100 ">
			<div class="card-body bg-dark">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-white detailT">Personal Details</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group detialsLables">
							<label for="fullName">Your Name</label>
							<input type="text" class="form-control" id="fullName" placeholder="{{user.name}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group detialsLables">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" placeholder="{{user.username}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group detialsLables">
							<label for="phone">Email</label>
							<input type="text" class="form-control" id="email" placeholder="{{user.email}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-10 col-sm-6 col-12">
						<div class="form-group detialsLables">
							<label for="website">Password</label>
							<input type="text" class="form-control" id="website" placeholder="{{user.password}}">
						</div>
					</div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group detialsLables">
							<label for="website">Address</label>
							<input type="text" class="form-control" id="address" placeholder="{{user.address}}">
						</div>
					</div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group detialsLables">
							<label for="website">Location Zip</label>
							<input type="text" class="form-control" id="location_zip" placeholder="{{user.location_zip}}">
						</div>
					</div>
				</div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="text-right">
							<button type="button" id="update" name="submit" class="btn btn-primary">Update!</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>